/*
Author:
  - Aasif Faizal (aasif@dal.ca)

Styling for University card.
*/
.university-card {
  img {
    max-height: 75px;
  }
  .attr {
    max-width: 130px;
  }
  button {
    max-width: 270px;
  }
}